<div class="skills-section">
  <div class="skills-container">
    <div class="skills-rows">
      <div class="skill-row" *ngFor="let category of skillCategories">
        <div class="row-header">
          <h4 class="category-name">{{ category.name }}</h4>
        </div>
        <div class="row-content">
          <div class="skill-chip" *ngFor="let skill of category.skills">
            <i [class]="getSkillIcon(skill)"></i>
            <span class="skill-name">{{ skill }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>