<div class="education-grid">
  <article
    class="education-card"
    *ngFor="let item of educationItems"
    [class.studying]="item.status === 'studying'"
  >
    <div class="education-top">
      <span class="education-icon"
        ><i class="bi" [ngClass]="item.icon" aria-hidden="true"></i></span
      ><span class="education-status">{{
        "ui." + item.status | translate
      }}</span>
    </div>
    <span class="education-date">{{
      "education." + item.id + ".date" | translate
    }}</span>
    <h3>{{ "education." + item.id + ".title" | translate }}</h3>
    <p class="institution">
      {{ "education." + item.id + ".institution" | translate }}
    </p>
    <p class="education-note">{{ "scan.education." + item.id | translate }}</p>
  </article>
</div>
