<div class="education-grid">
  <article class="education-card" *ngFor="let item of educationItems">
    <div class="education-meta">
      <i class="bi" [ngClass]="item.icon" aria-hidden="true"></i
      ><span>{{ "ui." + item.status | translate }}</span>
    </div>
    <h3>{{ "education." + item.id + ".title" | translate }}</h3>
    <p class="institution">
      {{ "education." + item.id + ".institution" | translate }}
    </p>
    <p class="date">{{ "education." + item.id + ".date" | translate }}</p>
    <p>{{ "education." + item.id + ".description" | translate }}</p>
  </article>
</div>
