<footer class="blog-footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div class="footer-info">
        <span class="footer-logo">M</span>
        <p class="footer-description">
          {{ 'blog.footer.description' | translate }}
        </p>
      </div>
      
      <div class="footer-links">
        <h4 class="footer-title">{{ 'blog.footer.platform' | translate }}</h4>
        <a routerLink="/blog">{{ 'blog.footer.articles' | translate }}</a>
        <a routerLink="/blog/category/tutorials">{{ 'blog.categories.tutorials' | translate }}</a>
        <a routerLink="/blog/category/technology">{{ 'blog.categories.technology' | translate }}</a>
      </div>

      <div class="footer-links">
        <h4 class="footer-title">{{ 'blog.footer.social' | translate }}</h4>
        <a href="https://linkedin.com/in/eduardomuzo" target="_blank">LinkedIn</a>
        <a href="https://github.com/Miguel-EMC" target="_blank">GitHub</a>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>{{ 'blog.footer.copyright' | translate }}</p>
    </div>
  </div>
</footer>
