<div class="language-toggle">
  <div class="dropdown">
    <button 
      class="btn btn-link dropdown-toggle language-btn" 
      type="button" 
      data-bs-toggle="dropdown" 
      aria-expanded="false"
      [attr.aria-expanded]="isDropdownOpen"
      (click)="toggleDropdown()">
      <span class="flag">{{ getCurrentLanguageFlag() }}</span>
      <span class="lang-code">{{ currentLanguage.toUpperCase() }}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" [class.show]="isDropdownOpen">
      <li *ngFor="let lang of availableLanguages">
        <a class="dropdown-item" 
           [class.active]="lang.code === currentLanguage"
           (click)="onLanguageChange(lang.code)"
           role="button"
           tabindex="0">
          <span class="flag">{{ lang.flag }}</span>
          <span class="label">{{ lang.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
