<div class="career-timeline">
  <article class="career-card" *ngFor="let experience of experiences">
    <div class="career-meta">
      <span class="career-kind">{{
        "experiences." + experience.id + ".kind" | translate
      }}</span
      ><span>{{ "experiences." + experience.id + ".date" | translate }}</span>
    </div>
    <h3>{{ "experiences." + experience.id + ".title" | translate }}</h3>
    <p class="career-company">
      {{ "experiences." + experience.id + ".subtitle" | translate }}
    </p>
    <ul>
      <li
        *ngFor="
          let task of 'experiences.' + experience.id + '.tasks' | translate
        "
      >
        {{ task }}
      </li>
    </ul>
    <div class="technology-list">
      <span *ngFor="let tech of experience.technologies">{{ tech }}</span>
    </div>
  </article>
</div>
